<div>
	<p>Bonjour, visitez notre site</p>

    <div>L'image de fond</div>
	<ul>
		<h4>
			<li>
				<a href="#">Nos agences</a>
			</li>
			<li>
				<a href="#">Nos projets</a>
			</li>
			<li>
				<a href="#">Notre personnel</a>
			</li>
		</h4>
	</ul>

</div>
